.Request {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    background: #FFFFFF;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-right: 10px;
    padding: 5px 10px;
    position: relative;
}

.Request:hover {
    transition: all .15s ease-in;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}

.Request:last-child(1) {
    margin: 0;
}

.Request_details {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 11px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.Request__status {
    width: 10px;
    height: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    box-sizing: border-box;
    margin-right: 5px;
}

.Request_status_success {
    background: #30B800;
}

.Request_status_error {
    background: #CF2C00;
}

.Request__title {
    color: #0D0D0D;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}

.Request__mores {
    cursor: pointer;
    height: 30px;
    display: flex;
    align-items: center;
}

.Request__mores:hover .Request__more,
.Request__mores:hover .Request__more::before,
.Request__mores:hover .Request__more::after {
    background: rgba(0, 0, 0, 0.4);
    transition: all .3s ease-out;
}

.Request__more {
    width: 4px;
    height: 4px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    position: relative;
}

.Request__more::before,
.Request__more::after {
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}

.Request__more::before {
    top: -7px;
}

.Request__more::after {
    bottom: -7px;
}

.Request__actions {
    position: absolute;
    z-index: 1000;
    top: 30px;
    right: 0;
    background: #FFFFFF;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
}

.Request:first-child .Request__actions{
    right: unset;
    left: 0;
}

.Request__actions_hide {
    display: none;
    opacity: 0;
}

.Request__actions_show {
    display: block;
    opacity: 1;
}

.Request__actions .Request__action {
    color: #0D0D0D;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    padding: 10px 15px;
    margin: 5px 0;
    cursor: pointer;
    transition: all .3s ease-in;
}

.Request__actions_separator {
    height: 1px;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.Request__actions .Request__action.Request__action_do:hover {
    background: #E5E5E5;
}

.Request__actions .Request__action.Request__action_copy:hover {
    background: #0055FB;
    color: #FFFFFF;
}

.Request__actions .Request__action.Request__action_delete:hover {
    background: #CF2C00;
    color: #FFFFFF;
}


.Request__inner_wrapper{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}


.Request__copy_effect {
    position: absolute;
    z-index: 20;
    top: 5px;
    left: 2px;
    right: 2px;
    padding: 0;
    background: #F6F6F6;
    border-radius: 5px;
    transform: translateY(-50px);
    text-align: center;
}

.Request__copy_effect p {
    color: #0D0D0D;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
}

.Request__copy_completed {
    animation: request_copy_completed 2.5s forwards;
}

@keyframes request_copy_completed {
    0% {
        transform: translateY(-50px);
        opacity: 0
    }
    20% {
        transform: translateY(0);
        opacity: 1
    }
    30% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(5px);
        opacity: 1
    }
    100% {
        transform: translateY(-50px);
        opacity: 0
    }
}
