.ButtonFormat {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    padding: 5px;
    border: 2px solid transparent;
    border-radius: 7px;
    transition: all .3s ease-in-out;
}

.ButtonFormat:hover p{
    color: #0055FB;
}

.ButtonFormat:hover .ButtonFormat__bar{
    background: #0055FB;
}

.ButtonFormat:active{
    border-color: #45A6FF;
}

.ButtonFormat p{
    color: #0D0D0D;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    margin-left: 11px;
}

.ButtonFormat__icon{
    height: 16px;
}

.ButtonFormat__icon .ButtonFormat__bar{
    background: #0D0D0D;
    margin-bottom: 2px;
    border-radius: 5px;
    height: 2px;
}

.ButtonFormat__icon .ButtonFormat__bar:nth-child(1){
    width: 8px;
    transform: translateX(0);
}

.ButtonFormat__icon .ButtonFormat__bar:nth-child(2){
    width: 14px;
    transform: translateX(4px);
}

.ButtonFormat__icon .ButtonFormat__bar:nth-child(3){
    width: 5px;
    transform: translateX(4px);
}

.ButtonFormat__icon .ButtonFormat__bar:nth-child(4){
    width: 4px;
    margin-bottom: 0;
    transform: translateX(0);
}

