.Home {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  > .Loader {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  > .ArtistInfo {
    position: absolute;
    bottom: 200px;
    left: 135px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    > h1 {
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 163px;
      color: #FFFFFF;
    }

    > .Description {
      width: 800px;
      height: 160px;
      overflow: hidden;

      > p {
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-size: 18px;
        color: #FFFFFF;
      }
    }
  }

  > .Playlist {
    position: absolute;
    content: none;
    bottom: 400px;
    right: 230px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    > .Title {
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 104px;
      color: #FFFFFF;
      text-transform: lowercase;
    }

    > .Subtitle {
      font-family: 'Roboto', sans-serif;
      font-weight: 100;
      font-size: 25px;
      color: #FFFFFF;
      text-transform: uppercase;
    }

    .Listen {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 50px 0 0 0;
      padding: 25px 63px;
      background: #8397B8;
      border-radius: 45px;
      cursor: pointer;

      > p {
        margin: 0 20px 0 0;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 25px;
        color: #FFFFFF;
        text-transform: uppercase;
      }
    }
  }

  > .SoundVolume {
    position: absolute;
    content: none;
    top: 56px;
    left: 98px;
    width: 92px;
    height: 92px;
    background: #000000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  > .Menu {
    position: absolute;
    content: none;
    top: -125px;
    right: -125px;
    width: 247px;
    height: 247px;
    background: #FFFFFF;
    border-radius: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    cursor: pointer;

    > svg {
      margin: 0 0 40px 40px;
    }
  }

  .Pages {
    position: absolute;
    bottom: 90px;
    right: 230px;
    content: none;
    display: flex;
    justify-content: center;
    align-items: center;

    > p {
      margin: 0 10px 0 0;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      font-size: 40px;
      color: rgba(255, 255, 255, 0.3);

      &:last-child {
        margin: 0;
      }

      &.Active {
        margin: 0 -30px 0 0;
        font-weight: 500;
        font-size: 136px;
        color: rgba(255, 255, 255, 1);
      }
    }
  }

  > .Slider {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;

    > .Background {
      position: absolute;
      content: none;
      top: 0;
      left: 0;
      bottom: 0;
      width: 0;
      background: #213A5E;

      &.Active {
        width: 100%;
      }

      > img {
        width: 100%;
        mix-blend-mode: multiply;
      }
    }
  }
}
