.FinishedQuiz {
    padding: 20px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 0 10px;
}

.FinishedQuiz ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.FinishedQuiz ul li {
}

.FinishedQuiz ul li span {
    display: inline-block;
    height: 15px;
    width: 15px;
    margin-left: 10px;
    border-radius: 50%;

}

.FinishedQuiz ul li span.success {
    background: rgba(161, 240, 69, .7);
}

.FinishedQuiz ul li span.error {
    background: rgba(240, 87, 108, .7);
}
