.Flows{
	margin: 55px 150px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.Flows .Title{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
}

.Flows .Title p{
	font-family: 'Lato', serif;
	font-size: 24px;
	font-weight: bold;
	color: var(--white);
}

.Flows .Title svg{
	color: var(--white);
	cursor: pointer;
}

.Flows .Content{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
}
