.HideScrollbars {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 50px;
    background: #F6F6F6;
    border: 1px solid #C4C4C4;
    border-left: none;
    border-right: none;
    position: relative;
}

.History__request_actions_parent{
    background: transparent;
    height: 500px;
    width: calc(100% - 51px);
}

.History__elements {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    box-sizing: content-box;
    padding: 10px 15px;
}

.Overlay {
    pointer-events: none;
    position: absolute;
    right: 51px;
    top: 0;
    bottom: 0;
    width: 15px;
    background: linear-gradient(269.98deg, #F6F6F6 0.06%, rgba(246, 246, 246, 0) 99.93%);
}

.Clear {
    display: flex;
    align-content: center;
    width: 51px;
    height: 100%;
    padding: 10px;
    background: #F6F6F6;
    border-left: 1px solid #C4C4C4;
    cursor: pointer;
}

.Clear:hover img{
    transform: scale(1.1);
}

.Clear img {
    height: 100%;
    width: 100%;
    transition: all .15s ease-in-out;
}
