:root{
	--lightblue: #2DCEEF;
	--darkblue: #2D9BEF;
	--violet: #9B2DEF;
	--white: #FFFFFF;
	--gray: #D5D5D5;
	--black1: #99999F;
	--black1-with-opacity50: rgba(153, 153, 159, 0.5);
	--black2: #424346;
	--black3: #3A3A3D;
	--black3-with-opacity20: rgba(58, 58, 61, 0.2);
	--black3-with-opacity45: rgba(58, 58, 61, 0.45);
	--black4: #303033;
	--black5: #161A1A;
}
