.Header {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    background: #F6F6F6;
}

.Header h1 {
    color: #0D0D0D;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
}

.HeaderLeft {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.HeaderLeft h1 {
    color: #0D0D0D;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    margin-left: 20px;
}

.HeaderRight {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.HeaderRight svg{
    font-size: 20px;
    cursor: pointer;
}

.Profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-right: 45px;
    padding: 5px 15px;
}

.Profile p {
    color: #0D0D0D;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    margin: 0 5px;
}

.Logout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 35px;
    cursor: pointer;
}

.Logout p {
    color: #0D0D0D;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    margin-right: 10px;
}

.ExpandIcon{
    box-sizing: border-box;
    color: #0D0D0D;
    transition: all .3s ease-out;
    border: 2px solid transparent;
    border-radius: 7px;
    padding: 5px 5px 2px 5px;
}

.ExpandIcon:hover{
    color: #0055FB;
}

.ExpandIcon:active{
    border-color: #45A5FF;
}
